$darkgray-color: #52525B;
$primary-color : #5556FF;
$secondary-color : #3929D9;
$tertiary-color : #2A2689;
$primary-light-color : #DDE5FF;
$secondary-light-color : #C2CEFF;
$tertiary-light-color : #9CADFF;
$navbar-body-bg- : hsl(224, 100%, 96%);
$card-user-body-bg: #F4F4F5;
$input-bg: #F4F4F5;
$input-color-placeholder: #A1A1AA;
$input-color: #656565;

//common
.headline-desktop1{
    font-size: 48px;
    font-weight: 600;
}

.headline-desktop2{
    font-size: 32px;
    font-weight: 600;
}

.headline-desktop3{
    font-size: 24px;
    font-weight: 500;
}

.headline-desktop4{
    font-size: 16px;
    font-weight: 300;
}

.body-desktop-{
    font-size: 16px;
    font-weight: 200;
}

.caption-desktop4-{
    font-size: 16;
    font-weight: 200;
    color: #A1A1AA;
}   

%content-center{
    padding: 0px 10rem;
}

.fit-content{
    width: fit-content;
}
//icons
.icon-color-primary{
    stroke: $primary-color;
}
.icon-color-secondary{
    stroke: $secondary-color;
}
.icon-color-tertiary{
    stroke: $tertiary-color;
}
.icon-color-darkgray{
    stroke: $darkgray-color;
}
.icon-color-white{
    stroke: #fff;
}
//components
.custom-input{
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 100%;
    label{
        font-weight: 500;
    }
    input{
        height: 25px;
        padding: 0px 10px;
        border-radius: 12px;
        background-color: $input-bg;
        padding: 5px 15px;
        border: none;
        color: $input-color;
        &::placeholder{
            color: $input-color-placeholder;
        }
        &:focus{
            outline: none;
        }
    }
}

%button{
    border-radius: 50px;
    padding: 0px 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
    cursor: pointer;
}
.button-sm{ 
    padding: 5px 10px;
    font-size: 12px;
}

.button-md{ 
    padding: 8px 25px;  
    font-size: 14px;
    font-weight: 400;
}

.button-primary{
    @extend %button;
    background-color: $primary-color;
    color: #fff;
    &:hover{
        background-color: $secondary-color
    }
}

.button-secondary{
    @extend %button;
    background-color: $secondary-color;
    color: #fff;
}

.button-tertiary{
    @extend %button;
    background-color: $tertiary-color;
    color: #fff;
}

.button-primary-light{
    @extend %button;
    background-color: $primary-light-color;
    color: $primary-color;
    font-weight: 600;
    &:hover{
        background-color: $secondary-light-color
    }
}

.button-secondary-light{
    @extend %button;
    background-color: $secondary-light-color;
    color: $secondary-color;
}

.button-tertiary-light{
    @extend %button;
    background-color: $tertiary-light-color;
    color: $tertiary-color;
}

.button-rounded-sm{
    border-radius: 100%;
    padding: 10px 10px;
}

.button-rounded-md{
    border-radius: 100%;
    padding: 15px 15px;
}

.button-border-primary-light{
    border: 2px solid $primary-color;
}

.button-border-secondary-light{
    border: 2px solid $primary-color;
}

.button-border-tertiary-light{
    border: 2px solid $primary-color;
}

.user-container{
    display: flex;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card{
    width: fit-content;
    height: 446px;
    padding: 1rem 1rem;
    padding-bottom: 0px;
    border-radius: 20px;
    background-color: $card-user-body-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    img{
        width: 266px;
        height: 266px;
    }
    .user-card-body{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .user-card-info{
            display: flex;
            gap: 5px;
            align-items: center;
        }
        .user-card-btns{
            display: flex;
            gap: 5px;
        }
    }
}

.select-avatar{
    width: 100%;
    display: flex;
    gap: .5rem;
    .avatar-img-container{
        width: 70px;
        height: 70px;
        border-radius: 100vw;
        overflow: hidden;
        img{
            width: 70px;
            height: 70px;            
            object-fit: contain;
        }
    }
    .avatar-input-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: .1rem;
        label{
            font-weight: 500;
        }
        select{
            width: 100% !important;
            background-color: $input-bg;
            color: $input-color-placeholder;
            border: 0;
            height: 38px;
            padding: 0px 10px;
            border-radius: 12px;
            font-size: 14px;
            cursor: pointer;
            appearance: none;
            background-image: url("https://api.iconify.design/carbon:chevron-down.svg");
            background-repeat: no-repeat;
            background-position: right 0.7rem top 50%;
            background-size: 0.65rem auto;    
            &:focus{
                outline: none;
            }
        }
    }
}

//home

.home-layout{
    width: 100vw;
    height: 100vh;
    position: relative;
    .navbar{
        background-color: $navbar-body-bg-;
        height: 90px;
        @extend %content-center;
        .navbar-body{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
    }
    .home-layout-body{
        @extend %content-center
    }
}
.home{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
}

//modalAddUser

.modal-add-user{
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    background-color: #a1a1aa35;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .add-card{
        height: 60%;
        max-width: 1150px;
        max-height: 500px;
        width: 80%;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 2.5rem;
        gap: 1rem;
        .add-card-header{
            width: fit-content;
        }
        .add-card-body{
            width: 100%;
            height: 100%;
            display: flex;
            gap: 1rem;
            .add-user-info-section{
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                label{
                    margin-bottom: 5px;
                }
                .add-card-form{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .add-user-input-container{
                        display: flex;
                        width: 100%;
                        gap: 10px;
                        margin-bottom: 15px;
                    }
                    
                }
            }
            .add-card-map-section{
                width: 50%;
                height: 100%;
                border-radius: 30px;
                overflow: hidden;
            }
        }
    }
}

body{
    overflow-x: hidden;
    color: #18181B;
}